ciaosonoungattino.giuseppemauro.ovh {
    tls giuseppemauro99@gmail.com {
        protocols tls1.2 tls1.3
    }

    @robots {
         path /robots.txt
    }
    handle @robots {
         root * /usr/share/caddy
         file_server
    }
    
    reverse_proxy * ciaosonoungattino-api-app:8390
}