# Blocco per i domini autorizzati
ciaosonoungattino.giuseppemauro.ovh, ciaosonoungattino.ovh {
    tls giuseppemauro99@gmail.com {
        protocols tls1.2 tls1.3
    }

    # Se la richiesta è per /robots.txt, servila dalla directory statica
    @robots {
         path /robots.txt
    }
    handle @robots {
         root * /usr/share/caddy
         file_server
    }
    
    # Per tutte le altre richieste inoltra al backend
    reverse_proxy ciaosonoungattino-api-app:8390
}

#  HTTPS (porta 443) - sito “normale”
alfa.vivosmart.it {
     log {
          output stdout      # <-- il valore predefinito che ti ho proposto
          format console     # o "json"
     }

     # Disabilito indicizzazione google
     @robots path /robots.txt
     handle @robots {
          respond "User-agent: *\nDisallow: /\n" 200 {
               content_type text/plain
          }
     }
     header {
          X-Robots-Tag "noindex, nofollow"
     }

	tls giuseppemauro99@gmail.com {
		protocols tls1.2 tls1.3
	}
     
	# tutto il traffico su HTTPS (da browser e da API)
	reverse_proxy vivosmart-coso-server-web:80
}

#  HTTP (porta 80): faccio redirect su https se si tratta di un browser
# Se si tratta di una chiamata dal coso-client verso API la lascio in chiaro
http://alfa.vivosmart.it {
     log {
          output stdout      # <-- il valore predefinito che ti ho proposto
          format console     # o "json"
     }

     # Disabilito indicizzazione google
     @robots path /robots.txt
     handle @robots {
          respond "User-agent: *\nDisallow: /\n" 200 {
               content_type text/plain
          }
     }
     header {
          X-Robots-Tag "noindex, nofollow"
     }

	# -- 1. matcher che “fiuta” i browser  --
	# basato sullo User-Agent
	@browserUA header_regexp UA "(?i)mozilla|chrome|safari|edge|opera|firefox"

	# -- 2. browser ⇒ redirect 308 verso HTTPS  --
	handle @browserUA {
		redir https://{host}{uri} 308
	}

	# Tutto il resto (cioè i dispositivi)
	handle {
		reverse_proxy vivosmart-coso-server-web:80
	}
}

# Blocco fallback per ogni altro hostname
* {
    # Gestione speciale per /robots.txt: servilo sempre
    @robots {
         path /robots.txt
    }
    handle @robots {
         root * /usr/share/caddy
         file_server
    }

    # Per tutte le altre richieste restituisci 404
    respond "Not Found" 404
}
