services:
  caddy-reverse_proxy_rasp:
    image: caddy:2
    container_name: caddy-reverse_proxy_rasp
    restart: unless-stopped
    command:
      - "caddy"
      - "run"
      - "--config"
      - "/etc/caddy/Caddyfile"
      - "--adapter"
      - "caddyfile"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - ./static:/usr/share/caddy
    networks:
      - raspi_ig_publisher_ciaosonoungattino-network
      - coso-server_vivosmart-coso-server-network
      - valeriamattia3d_default
      - raspi_ftp_for_backup_rasp_sftp-network

networks:
  raspi_ig_publisher_ciaosonoungattino-network: #aggiungere la rete per ogni container da servire
    external: true
  coso-server_vivosmart-coso-server-network:
    external: true
  valeriamattia3d_default:
    external: true
  raspi_ftp_for_backup_rasp_sftp-network:
    external: true
  valeriamattia3d_custommodellizator_default:
    external: true

volumes:
  caddy_data:
  caddy_config:
